
  #underLine {
    position: relative;
    top: -5%;
  
    background-color: #e5e5f7;
    opacity: 1;
    background: repeating-linear-gradient(
      145deg,
      #625c5e50,
      #625c5e50 2px,
      #f3f1f6 2px,
      #f3f1f6 8px
    );
  }
  #underLine1 {
    position: relative;
    top: -5%;
    background-color: transparent;
    opacity: 0.5;
    background: repeating-linear-gradient(
      145deg,
      #625c5e,
      #625c5e 2px,
      #f3f1f600 2px,
      #f3f1f600 8px
    );
  }
  #footerBg{
    background-color: #0E3998;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #06183F 400px ), repeating-linear-gradient( #071C4B, #071C4B );
  }
  