<form class="bg-secondary py-16 px-10" (submit)="sendEmail($event)">
  <div class="flex flex-row gap-7">
    <div class="flex flex-col w-[45%] md:w-1/2">
      <div class="flex items-center">
        <label for="" class="text-[#808080e3] text-base font-semibold"
          >Name</label
        ><span class="text-[red] ml-1">*</span>
      </div>

      <input
        type="text"
        required
        name="firstname"
        class="bg-[#80808013] border h-12 px-4"
        style="border-color: rgba(128, 128, 128, 0.834)"
      />

      <label class="text-[#808080e3] text-base font-semibold" for=""
        >First</label
      >
    </div>
    <div class="flex flex-col w-[45%] md:w-1/2">
      <div class="flex items-center">
        <label for="" class="text-[#808080e3] text-base opacity-0 font-semibold"
          >Last</label
        ><span class="text-[red] ml-1 opacity-0">*</span>
      </div>

      <input
        type="text"
        required
        name="lastname"
        class="bg-[#80808013] border h-12 px-4"
        style="border-color: rgba(128, 128, 128, 0.834)"
      />

      <label class="text-[#808080e3] text-base font-semibold" for=""
        >Last</label
      >
    </div>
  </div>

  <div class="flex flex-col mt-5">
    <div class="flex items-center">
      <label for="" class="text-[#808080e3] text-base font-semibold"
        >Email </label
      ><span class="text-[red] ml-1">*</span>
    </div>

    <input
      type="email"
      name="email"
      required
      class="bg-[#80808013] border h-12 px-4"
      style="border-color: rgba(128, 128, 128, 0.834)"
    />
  </div>
  <div class="flex flex-col mt-5">
    <div class="flex items-center">
      <label for="" class="text-[#808080e3] text-base font-semibold"
        >Comment or Message </label
      ><span class="text-[red] ml-1">*</span>
    </div>

    <textarea
      name="message"
      id=""
      class="bg-[#80808013] border h-36 px-2 py-2"
      style="border-color: rgba(128, 128, 128, 0.834)"
    ></textarea>
  </div>
  <button
    type="submit"
    class="w-52 h-14 mt-4 font-semibold text-lg bg-accent text-secondary"
  >
    SUBMIT
  </button>
</form>
