<!-- landing page service -->
<app-landing-page
  heading="Services"
  link="url('../../assets/images/main-back2.jpg')"
></app-landing-page>

<section class="w-full bg-[white] mt-24 z-0">
  <div class="w-[80%] mx-auto flex flex-col justify-center items-center">
    <h1 class="text-3xl md:text-7xl font-extrabold text-primary">What We Do</h1>
    <hr class="bg-accent text-accent h-2 w-[80px] mt-8 mb-8" />
    <p
      class="text-[gray] font-semibold md:text-sm text-base w-full md:w-[50%] leading-loose"
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
    </p>
    <div
      class="w-full flex flex-wrap flex-row pt-16 pb-28 z-0 gap-14 justify-center"
    >
      <div class="w-[350px] flex flex-col gap-4 z-0">
        <img
          src="../../assets/images/services/services-01-free-img.jpg"
          alt=""
        />
        <h1 class="text-primary text-2xl font-extrabold z-10">
          General Contract
        </h1>
        <div id="underLine" class="w-[100%] h-[30px] z-0"></div>
        <p
          class="text-[#808080] text-base leading-loose text-justify relative top-[-5%]"
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
      </div>
      <div class="w-[350px] flex flex-col gap-4 z-0">
        <img
          src="../../assets/images/services/services-02-free-img.jpg"
          alt=""
        />
        <h1 class="text-primary text-2xl font-extrabold z-10">
          Project Planning
        </h1>
        <div id="underLine" class="w-[100%] h-[30px] z-0"></div>
        <p
          class="text-[#808080] text-base leading-loose text-justify relative top-[-5%]"
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
      </div>
      <div class="w-[350px] flex flex-col gap-4 z-0">
        <img
          src="../../assets/images/services/services-01-free-img.jpg"
          alt=""
        />
        <h1 class="text-primary text-2xl font-extrabold z-10">
          House Refurbishment
        </h1>
        <div id="underLine" class="w-[100%] h-[30px] z-0"></div>
        <p
          class="text-[#808080] text-base leading-loose text-justify relative top-[-5%]"
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
      </div>
      <div class="w-[350px] flex flex-col gap-4 z-0">
        <img
          src="../../assets/images/services/services-02-free-img.jpg"
          alt=""
        />
        <h1 class="text-primary text-2xl font-extrabold z-10">
          Kitchen Remodeling
        </h1>
        <div id="underLine" class="w-[100%] h-[30px] z-0"></div>
        <p
          class="text-[#808080] text-base leading-loose text-justify relative top-[-5%]"
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
      </div>
      <div class="w-[350px] flex flex-col gap-4 z-0">
        <img
          src="../../assets/images/services/services-01-free-img.jpg"
          alt=""
        />
        <h1 class="text-primary text-2xl font-extrabold z-10">
          Interior Design
        </h1>
        <div id="underLine" class="w-[100%] h-[30px] z-0"></div>
        <p
          class="text-[#808080] text-base leading-loose text-justify relative top-[-5%]"
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
      </div>
      <div class="w-[350px] flex flex-col gap-4 z-0">
        <img
          src="../../assets/images/services/services-02-free-img.jpg"
          alt=""
        />
        <h1 class="text-primary text-2xl font-extrabold z-10">
          House Extension
        </h1>
        <div id="underLine" class="w-[100%] h-[30px] z-0"></div>
        <p
          class="text-[#808080] text-base leading-loose text-justify relative top-[-5%]"
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- form -->
<section
  class="w-full h-full flex flex-col lg:flex-row gap-20 justify-center items-center pt-16"
  id="main2"
>
  <div class="w-[90%] md:w-[60%] lg:w-[40%] xl:w-[30%]">
    <hr class="bg-secondary text-secondary h-1 md:h-2 w-[80px] opacity-30" />
    <h1 class="text-4xl lg:text-7xl text-[white] font-extrabold my-10">
      Let's Build Your Dreams!
    </h1>
    <p class="text-[#ffffffb1] text-sm md:text-base text-justify">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam dolorem,
      hic eaque, doloribus vero provident modi nulla maiores pariatur explicabo
      recusandae mollitia assumenda, vel impedit ea magni fugit aut ab.
    </p>
  </div>

  <div class="w-[80%] md:w-[60%] lg:w-[40%] py-24 xl:w-[30%]">
    <app-form background="#F3F1F6"></app-form>
  </div>
</section>
<!-- footer -->
<app-footer></app-footer>
