#main1 {
  background: linear-gradient(
      to top,
      rgba(14, 57, 152, 0),
      rgba(14, 57, 152, 90)
    ),
    linear-gradient(to top, rgba(14, 57, 152, 90), rgba(14, 57, 152, 0)),
    url("../../assets/images/workbech-about.jpg");
  background-color: #0e3998;
  background-repeat: no-repeat;
  background-size: cover;
}
#main2 {
  background: linear-gradient(
      to top,
      rgba(14, 57, 152, 0),
      rgba(14, 57, 152, 90)
    ),
    linear-gradient(to top, rgba(14, 57, 152, 90), rgba(14, 57, 152, 0)),
    url("../../assets/images/house-extension.jpg");
  background-color: #0e3998;
  background-repeat: no-repeat;
  background-size: cover;
}

#loadingSpinner {
  animation: loading 1.5s linear infinite;
  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
#underLine {
  position: relative ;
top: -5%;
  background-color: #e5e5f7;
  opacity: 0.7;
  background: repeating-linear-gradient(
    145deg,
    #625c5e50,
    #625c5e50 2px,
    #f3f1f6 2px,
    #f3f1f6 8px
  );
}