#main {
  background: linear-gradient(
      to top,
      rgba(14, 57, 152, 0),
      rgba(14, 57, 152, 90)
    ),
    linear-gradient(to top, rgba(14, 57, 152, 90), rgba(14, 57, 152, 0)),
    var(--link);
  background-color: #0e3998;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
