<!-- navbar -->
<div class="w-full h-screen" id="main">
  <nav class="border h-28 flex container mx-auto justify-between items-center">
    <div class="border border-secondary w-28"></div>
    <ul class="flex">
      <li class="mx-6">
        <a href="" class="font-bold text-xl text-secondary">Home</a>
      </li>

      <li class="mx-6">
        <a href="" class="font-bold text-xl text-secondary">Service</a>
      </li>
      <li class="mx-6">
        <a href="" class="font-bold text-xl text-secondary">About</a>
      </li>
      <li class="mx-6">
        <a href="" class="font-bold text-xl text-secondary">Projects</a>
      </li>
      <li class="mx-6">
        <a href="" class="font-bold text-xl text-secondary">Contact</a>
      </li>
      <li class="mx-6">
        <a href="" class="font-bold text-xl text-secondary">9421338871</a>
      </li>
    </ul>
  </nav>
  <div
    class="container bg-secondary flex flex-row flex-wrap mx-auto mt-28"
  ></div>
</div>
<div class="pt-8 w-full h-screen bg-primary">
  <div
    class="container bg-secondary flex flex-row flex-wrap mx-auto mt-28"
  ></div>
</div>
