#main {
  background-image: url("../../assets/images/main-back.jpg");

  background-color: #0e3998;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: luminosity;
}
