<!-- navbar -->

<div class="container flex-1 flex-col flex-wrap mx-auto mt-20 px-7 md:px-0">
  <div
    class="container mx-auto p-10 flex flex-col justify-center items-center md:items-start"
  >
    <h3 class="font-bold text-xl text-secondary pt-4 pb-2">
      Construction Services
    </h3>
    <hr
      class="w-24 font-extrabold bg-secondary opacity-50 h-1 mt-4 text-secondary"
      size="10"
    />
    <h1
      class="pt-8 w-[100%] md:w-[45%] text-5xl md:text-7xl text-wrap leading-tight h-auto font-extrabold text-secondary text-center md:text-left"
    >
      Building Your Dreams
    </h1>
    <button
      class="w-52 h-14 mt-8 font-semibold text-lg bg-accent text-secondary"
    >
      GET A QUOTE
    </button>
  </div>
  <div
    class="container bg-[#ffffff] grid grid-cols-1 gap-5 md:gap-0 md:grid-cols-2 lg:grid-cols-3 mx-auto my-32 md:shadow-lg"
  >
    <div class="bg-accent w-full min-h-[570px] px-10 py-14 shadow-lg">
      <h1 class="text-secondary text-3xl font-extrabold">
        Professional and Reliable Services.
      </h1>
      <hr class="bg-secondary h-1 w-20 text-secondary my-8" />
      <div class="flex flex-row h-8 justify-between w-2/3">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            fill="#0e3998"
            d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
          />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            fill="#0e3998"
            d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
          />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            fill="#0e3998"
            d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
          />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            fill="#0e3998"
            d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
          />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            fill="#0e3998"
            d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
          />
        </svg>
      </div>
    </div>

    <div
      class="bg-secondary shadow-lg hover:bg-[#e3e3e4ce] duration-[700ms] w-full min-h-[570px] p-10 border-b-2 border-r-2 border-[#bbbbbb50]"
      style="z-index: 0"
    >
      <img
        ngSrc="../../assets/images/general-construction.jpg"
        width="400"
        height="200"
        alt=""
        class="mx-auto mt-8 w-full"
      />
      <h1 class="text-2xl font-extrabold text-primary my-2" style="z-index: 0">
        General Contract
      </h1>
      <div id="underLine" class="w-[100%] h-[25px]" style="z-index: -1"></div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        repudiandae, eveniet repellat autem, optio natus
      </p>
      <svg
        style="width: 20px; margin-top: 20px; margin-bottom: 20px"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="#0e3998"
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
        />
      </svg>
    </div>

    <div
      class="bg-secondary shadow-lg hover:bg-[#e3e3e4ce] duration-[700ms] w-full min-h-[570px] p-10 border-b-2 border-[#bbbbbb50]"
      style="z-index: 0"
    >
      <img
        ngSrc="../../assets/images/project-planning.jpg"
        width="400"
        height="200"
        alt=""
        class="mx-auto mt-8 w-full"
      />
      <h1 class="text-2xl font-extrabold text-primary my-2" style="z-index: 0">
        Project Planning
      </h1>
      <div id="underLine" class="w-[100%] h-[25px]" style="z-index: -1"></div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        repudiandae, eveniet repellat autem, optio natus
      </p>
      <svg
        style="width: 20px; margin-top: 20px; margin-bottom: 20px"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="#0e3998"
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
        />
      </svg>
    </div>

    <div
      class="bg-secondary shadow-lg hover:bg-[#e3e3e4ce] duration-[700ms] w-full min-h-[570px] p-10 border-b-2 border-r-2 border-[#bbbbbb50]"
      style="z-index: 0"
    >
      <img
        ngSrc="../../assets/images/house-refurbishment.jpg"
        width="400"
        height="200"
        alt=""
        class="mx-auto mt-8 w-full"
      />
      <h1 class="text-2xl font-extrabold text-primary my-2" style="z-index: 0">
        House Refurbishment
      </h1>
      <div id="underLine" class="w-[100%] h-[25px]" style="z-index: -1"></div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        repudiandae, eveniet repellat autem, optio natus
      </p>
      <svg
        style="width: 20px; margin-top: 20px; margin-bottom: 20px"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="#0e3998"
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
        />
      </svg>
    </div>
    <div
      class="bg-secondary shadow-lg hover:bg-[#e3e3e4ce] duration-[700ms] w-full min-h-[570px] p-10 border-b-2 border-r-2 border-[#bbbbbb50]"
      style="z-index: 0"
    >
      <img
        ngSrc="../../assets/images/kichen-remodeling.jpg"
        width="400"
        height="200"
        alt=""
        class="mx-auto mt-8 w-full"
      />
      <h1 class="text-2xl font-extrabold text-primary my-2" style="z-index: 0">
        Kitchen Remodeling
      </h1>
      <div id="underLine" class="w-[100%] h-[25px]" style="z-index: -1"></div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        repudiandae, eveniet repellat autem, optio natus
      </p>
      <svg
        style="width: 20px; margin-top: 20px; margin-bottom: 20px"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="#0e3998"
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
        />
      </svg>
    </div>
    <div
      class="bg-secondary shadow-lg hover:bg-[#e3e3e4ce] duration-[700ms] w-full min-h-[570px] p-10 border-b-2 border-[#bbbbbb50]"
      style="z-index: 0"
    >
      <img
        ngSrc="../../assets/images/house-extension.jpg"
        width="400"
        height="200"
        alt=""
        class="mx-auto mt-8 w-full"
      />
      <h1 class="text-2xl font-extrabold text-primary my-2" style="z-index: 0">
        House Extensions
      </h1>
      <div id="underLine" class="w-[100%] h-[25px]" style="z-index: -1"></div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        repudiandae, eveniet repellat autem, optio natus
      </p>
      <svg
        style="width: 20px; margin-top: 20px; margin-bottom: 20px"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="#0e3998"
          d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
        />
      </svg>
    </div>
  </div>
</div>

<section class="w-full h-full flex">
  <div class="w-1/2 h-1/4 lg:h-full" id="img1"></div>
  <div
    class="container h-screen w-4/5 lg:w-1/2 mx-auto left-0 right-0 mr-auto ml-auto flex flex-col justify-start items-center mt-30 py-16 absolute"
  >
    <h1 class="text-primary text-4xl md:text-7xl font-extrabold text-center">
      About
    </h1>
    <hr
      class="w-28 font-extrabold bg-accent opacity-50 h-2 my-10 text-accent"
      size="10"
    />
    <p class="text-xl md:text-3xl font-extrabold text-primary mb-8 text-center">
      No Job Is to Big for Us. We'll Get It Done.
    </p>
    <p
      class="text-xs font-semibold md:text-lg lg:text-xl md:font-bold text-mygray leading-loose text-center mb-5"
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proiden. sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam,
    </p>
    <p
      class="text-xs font-semibold md:text-lg lg:text-xl md:font-bold text-mygray leading-loose text-center mb-5"
    >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo
    </p>
    <button
      class="underline border-0 text-myblack font-bold text-lg md:text-2xl mt-4 md:mt-12 hover:text-mygray underline-offset-2"
    >
      READ MORE
    </button>
  </div>
  <div class="w-1/2 h-1/4 lg:h-full" id="img2"></div>
</section>
<section
  class="container mx-auto flex flex-col text-center justify-center items-center relative top-[-20%]"
>
  <h1
    class="text-2xl md:text-6xl font-extrabold text-primary text-center my-10"
  >
    Our Happy Clients!
  </h1>
  <hr class="bg-mygray text-mygray h-1 w-1/6 md:w-1/12 opacity-30" />
  <div class="my-10 flex flex-row flex-wrap">
    <div
      class="w-[300px] md:w-[350px] px-10 py-10 my-10 mx-auto md:mx-5 shadow-2xl flex flex-col justify-start text-left"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        style="width: 60px"
      >
        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="#0e3998"
          d="M0 216C0 149.7 53.7 96 120 96l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-32 0-32 0-72zm256 0c0-66.3 53.7-120 120-120l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-32 0-32 0-72z"
        />
      </svg>
      <p class="text-mygray font-normal mt-4">
        Elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Nam
        varius consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing
        elelit tellus.
      </p>
      <img src="../../assets/images/rating.png" alt="" style="width: 100px" />
      <div class="flex justify-start items-center">
        <img src="../../assets/images/profile.jpg" alt="" class="w-[80px]" />
        <h2 class="text-primary text-lg font-bold ml-4">Jemma Stone</h2>
      </div>
    </div>
    <div
      class="w-[300px] md:w-[350px] px-10 py-10 my-10 mx-auto md:mx-5 shadow-2xl flex flex-col justify-start text-left"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        style="width: 60px"
      >
        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="#0e3998"
          d="M0 216C0 149.7 53.7 96 120 96l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-32 0-32 0-72zm256 0c0-66.3 53.7-120 120-120l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-32 0-32 0-72z"
        />
      </svg>
      <p class="text-mygray font-normal mt-4">
        Elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Nam
        varius consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing
        elelit tellus.
      </p>
      <img src="../../assets/images/rating.png" alt="" style="width: 100px" />
      <div class="flex justify-start items-center">
        <img src="../../assets/images/profile.jpg" alt="" class="w-[80px]" />
        <h2 class="text-primary text-lg font-bold ml-4">Jemma Stone</h2>
      </div>
    </div>
    <div
      class="w-[300px] md:w-[350px] px-10 py-10 my-10 mx-auto md:mx-5 shadow-2xl flex flex-col justify-start text-left"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        style="width: 60px"
      >
        <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
        <path
          fill="#0e3998"
          d="M0 216C0 149.7 53.7 96 120 96l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-32 0-32 0-72zm256 0c0-66.3 53.7-120 120-120l8 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-8 0c-30.9 0-56 25.1-56 56l0 8 64 0c35.3 0 64 28.7 64 64l0 64c0 35.3-28.7 64-64 64l-64 0c-35.3 0-64-28.7-64-64l0-32 0-32 0-72z"
        />
      </svg>
      <p class="text-mygray font-normal mt-4">
        Elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Nam
        varius consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing
        elelit tellus.
      </p>
      <img src="../../assets/images/rating.png" alt="" style="width: 100px" />
      <div class="flex justify-start items-center">
        <img src="../../assets/images/profile.jpg" alt="" class="w-[80px]" />
        <h2 class="text-primary text-lg font-bold ml-4">Jemma Stone</h2>
      </div>
    </div>
  </div>
  <section
    class="container mx-auto text-center flex flex-col items-center justify-between mb-20 relative bottom-[15%] md:bottom-[15%] z-10"
  >
    <h1 class="text-3xl md:text-6xl font-extrabold text-primary mb-4">
      Why Us ?
    </h1>
    <hr
      class="w-12 md:w-24 font-extrabold bg-accent h-[4px] md:h-[6px] mt-4 mb-10 text-accent"
      size="10"
    />
    <img
      src="../../assets/images/whyus.jpg"
      alt=""
      class="w-[300px] h-[100px] md:w-[1000px] md:h-[350px] object-cover"
    />
  </section>
</section>

<section
  class="bg-primary w-full relative top-[-30%] md:top-[-40%] z-0 pt-[30%] md:pt-[40%] lg:pt-[20%] pb-20"
>
  <section
    class="container mx-auto flex gap-8 items-center justify-center flex-wrap"
  >
    <div
      class="w-[400px] p-4 flex flex-col items-center justify-center text-center mb-7"
    >
      <div
        style="
          background-image: url(../../assets/images/icons/medal-solid-icon.svg);
        "
        class="rounded-full h-16 w-16 md:h-24 md:w-24 bg-secondary p-5 object-contain bg-no-repeat bg-center bg-[length:40px_40px]"
      ></div>
      <h1 class="text-secondary font-extrabold text-xl md:text-2xl my-6">
        20+ Years Experience
      </h1>
      <p class="text-sm md:text-lg text-secondary opacity-50">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div
      class="w-[400px] p-4 flex flex-col items-center justify-center text-center mb-7"
    >
      <div
        style="
          background-image: url(../../assets/images/icons/user-tie-solid-icon.svg);
        "
        class="rounded-full h-16 w-16 md:h-24 md:w-24 bg-secondary p-5 object-contain bg-no-repeat bg-center bg-[length:40px_40px]"
      ></div>
      <h1 class="text-secondary font-extrabold text-xl md:text-2xl my-6">
        Professional Services
      </h1>
      <p class="text-sm md:text-lg text-secondary opacity-50">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div
      class="w-[400px] p-4 flex flex-col items-center justify-center text-center mb-7"
    >
      <div
        style="
          background-image: url(../../assets/images/icons/building-solid-icons.svg);
        "
        class="rounded-full h-16 w-16 md:h-24 md:w-24 bg-secondary p-5 object-contain bg-no-repeat bg-center bg-[length:40px_40px]"
      ></div>

      <h1 class="text-secondary font-extrabold text-xl md:text-2xl my-6">
        100+ Completed Projects
      </h1>
      <p class="text-sm md:text-lg text-secondary opacity-50">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </section>
  <hr
    class="container mx-auto font-extrabold bg-secondary opacity-40 w-[60%] mt-4 md:mt-10 text-secondary"
    size="10"
  />
</section>

<section
  class="flex flex-col justify-center items-center relative top-[-40%] py-24 bg-primary bg-"
  id="img3"
>
  <hr
    class="w-12 md:w-24 font-extrabold bg-secondary opacity-50 h-1 mt-4 text-secondary"
    size="10"
  />
  <h1
    class="text-2xl md:text-6xl font-extrabold text-secondary w-1/2 md:w-1/3 text-center mt-10"
  >
    Let's Build Your Dreams!
  </h1>
  <p class="w-3/4 md:w-1/2 mt-10 text-center text-[#afafaf]">
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
    veritatis et quasi architecto.
  </p>
  <button
    class="w-36 h-10 md:w-52 md:h-14 mt-8 mb-16 font-bold text-sm md:text-lg bg-accent text-secondary"
  >
    CONTACT US
  </button>
</section>

<section
  class="bg-accent w-full h-1/4 relative top-[-40%] flex justify-center items-center"
>
  <div
    class="w-2/3 md:w-1/2 flex h-[50%] md:h-[90%] my-auto container mx-auto overflow-scroll"
    id="scroller"
  >
    <img src="../../assets/images/scroll images/logo-01-free-img.png" alt="" />
    <img src="../../assets/images/scroll images/logo-02-free-img.png" alt="" />
    <img src="../../assets/images/scroll images/logo-03-free-img.png" alt="" />
    <img src="../../assets/images/scroll images/logo-04-free-img.png" alt="" />
    <img src="../../assets/images/scroll images/logo-05-free-img.png" alt="" />
    <img src="../../assets/images/scroll images/logo-06-free-img.png" alt="" />
  </div>
</section>

<footer class="w-full bg-primary relative">
  <section
    class="w-full bg-[#071C4A] h-[1240px] lg:h-[640px] absolute top-[-420px]"
  >
    <section
      class="container mx-auto flex flex-col gap-10 md:gap-0 lg:flex-row pt-24"
    >
      <div class="basis-1/4 pl-4 md:pl-0">
        <img src="../../assets/images/main-logo.png" alt="" />
        <div class="flex flex-col justify-center">
          <div class="flex justify-start mt-10">
            <svg
              class="w-[25px] h-[25px]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#ffbc01"
                d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"
              />
            </svg>
            <span class="text-secondary text-xl font-semibold ml-4"
              >929-242-6868</span
            >
          </div>
          <div class="flex justify-start mt-7">
            <svg
              class="w-[25px] h-[25px]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#ffbc01"
                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
              />
            </svg>
            <span class="text-secondary text-xl font-semibold ml-4"
              >contact&#64;info.com</span
            >
          </div>
          <div class="flex justify-start mt-7">
            <svg
              class="w-[25px] h-[25px]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#ffbc01"
                d="M16 144a144 144 0 1 1 288 0A144 144 0 1 1 16 144zM160 80c8.8 0 16-7.2 16-16s-7.2-16-16-16c-53 0-96 43-96 96c0 8.8 7.2 16 16 16s16-7.2 16-16c0-35.3 28.7-64 64-64zM128 480l0-162.9c10.4 1.9 21.1 2.9 32 2.9s21.6-1 32-2.9L192 480c0 17.7-14.3 32-32 32s-32-14.3-32-32z"
              />
            </svg>
            <span class="text-secondary text-xl w-56 font-semibold ml-4"
              >123 Fifth Avenue, New York, NY 10160</span
            >
          </div>
        </div>
      </div>
      <div class="basis-1/4 pl-4 px-16 mt-10 lg:mt-0">
        <h1
          class="text-xl font-extrabold text-secondary my-2"
          style="z-index: 1"
        >
          Our Services
        </h1>
        <div id="underLine1" class="w-[100%] h-[25px]"></div>

        <ul class="flex-col justify-evenly items-center">
          <li
            class="flex justify-start items-center border-b-[#ffffff4a] border-b py-2 mb-2"
          >
            <svg
              class="w-[15px] h-[15px]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#ffbc01"
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"
              />
            </svg>
            <span class="text-lg font-semibold text-secondary ml-6">
              General Contract</span
            >
          </li>
          <li
            class="flex justify-start items-center border-b-[#ffffff4a] border-b py-2 mb-2"
          >
            <svg
              class="w-[15px] h-[15px]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#ffbc01"
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"
              />
            </svg>
            <span class="text-lg font-semibold text-secondary ml-6">
              Project Planning</span
            >
          </li>
          <li
            class="flex justify-start items-center border-b-[#ffffff4a] border-b py-2 mb-2"
          >
            <svg
              class="w-[15px] h-[15px]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#ffbc01"
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"
              />
            </svg>
            <span class="text-lg font-semibold text-secondary ml-6">
              House Refurbishment</span
            >
          </li>
          <li
            class="flex justify-start items-center border-b-[#ffffff4a] border-b py-2 mb-2"
          >
            <svg
              class="w-[15px] h-[15px]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#ffbc01"
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"
              />
            </svg>
            <span class="text-lg font-semibold text-secondary ml-6">
              Kicten Remodeling</span
            >
          </li>
          <li class="flex justify-start items-center py-2 mb-2">
            <svg
              class="w-[15px] h-[15px]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#ffbc01"
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"
              />
            </svg>
            <span class="text-lg font-semibold text-secondary ml-6">
              Interior Design</span
            >
          </li>
          <li class="flex justify-start items-center py-2 mb-2">
            <svg
              class="w-[15px] h-[15px]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
              <path
                fill="#ffbc01"
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"
              />
            </svg>
            <span class="text-lg font-semibold text-secondary ml-6">
              House Extension</span
            >
          </li>
        </ul>
      </div>

      <div class="basis-1 lg:basis-1/2 pr-36 mt-10 lg:mt-0 pl-4">
        <h1
          class="text-xl font-extrabold text-secondary my-2"
          style="z-index: 1"
        >
          A Few Words About Us
        </h1>
        <div id="underLine1" class="w-[100%] h-[25px]"></div>

        <p class="font-semibold text-secondary mt-0 md:text-base text-xs">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam.
        </p>
        <div class="flex gap-3 h-10 md:h-20 mt-8 lg:mt-4">
          <img src="../../assets/images/button icons/bbb-logo.png" alt="" />
          <img src="../../assets/images/button icons/houzz-2019.png" alt="" />
          <img src="../../assets/images/button icons/top-modeller.png" alt="" />
          <img src="../../assets/images/button icons/yelp-love.png" alt="" />
        </div>
      </div>
    </section>
    <div
      class="bg-[#0d2d71] h-[60px] md:h-[100px] md:leading-[60px] text-center w-full text-secondary text-xs md:text-xl mt-[40px] px-10 pt-3"
    >
      Copyright © 2024 Construction | Powered by Construction
    </div>
  </section>
</footer>
